<!-- recipe_detail.html -->
<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %} {{ name }} {% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <h2>{{ object.name }}</h2>
        <p>Author: {{ object.author.username }}</p>
        <h3>Ingredients:</h3>
        <ul>
            {% for ingredient in object.ingredients.all %}
                <li>{{ ingredient.ingredient.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You must be logged in to view this content.</p>
    {% endif %}
{% endblock %}